---
import Asesoria from "../../assets/services/Asesoria.png";
import Formalizacion from "../../assets/services/Formalizacion.png";
import Liquidacion from "../../assets/services/Liquidacion.png";
import Libros from "../../assets/services/Libros.png";
import PDT from "../../assets/services/PDT-PLAME.png";
import Analisis from "../../assets/services/Analizis.png";
import Auditoria from "../../assets/services/Auditoria.png";
import OTROS from "../../assets/services/OTROS.png";
---

<div class="p-4 sm:p-6 md:p-8 lg:p-12">
    <h2
        class="text-[#0D3D5C] font-bold text-2xl sm:text-3xl md:text-[31.45px] mb-4 sm:mb-5 animate-fade-in-down"
    >
        Nuestros Servicios
    </h2>
    <span
        class="block max-w-full sm:max-w-[590px] text-sm sm:text-base animate-fade-in-down"
        >Brindamos servicios profesionales orientados a simplificar tus procesos
        y apoyar el crecimiento de tu negocio.
    </span>
    <section
        class="mt-6 sm:mt-8 md:mt-10 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 sm:gap-6 md:gap-8"
    >
        <div
            class="service-card flex flex-col items-center gap-3 sm:gap-4 justify-center h-80 sm:h-[22rem] md:h-96
    bg-white rounded-2xl transition-all duration-300 p-4
    hover:scale-[1.03] hover:shadow-xl hover:bg-[#F7FAFF] animate-fade-in animate-delay-100"
        >
            <img
                class="w-52 sm:w-60 md:w-72"
                src={Asesoria.src}
                alt="Asesoria contable laboral y tributario"
            />
            <p class="font-bold text-center text-sm sm:text-base">
                Asesoria contable laboral y tributario
            </p>
            <span
                class="text-[#0B5CA8] block max-w-[350px] text-center text-xs sm:text-sm"
                >Apoyo experto para gestionar tus obligaciones contables,
                laborales y tributarias con eficiencia y confianza.</span
            >
        </div>

        <div
            class="service-card flex flex-col items-center gap-3 sm:gap-4 justify-center h-80 sm:h-[22rem] md:h-96
    bg-white rounded-2xl transition-all duration-300 p-4
    hover:scale-[1.03] hover:shadow-xl hover:bg-[#F7FAFF] animate-fade-in animate-delay-100"
        >
            <img
                class="w-52 sm:w-60 md:w-72"
                src={Formalizacion.src}
                alt="Constitucion y formalizacion de empresas"
            />
            <p class="font-bold text-center text-sm sm:text-base">
                Constitucion y formalizacion de empresas
            </p>
            <span
                class="text-[#0B5CA8] block max-w-[350px] text-center text-xs sm:text-sm"
                >Te guiamos en cada paso para crear y formalizar tu empresa de
                manera rápida, segura y conforme a la normativa vigente.</span
            >
        </div>
        <div
            class="service-card flex flex-col items-center gap-3 sm:gap-4 justify-center h-80 sm:h-[22rem] md:h-96
    bg-white rounded-2xl transition-all duration-300 p-4
    hover:scale-[1.03] hover:shadow-xl hover:bg-[#F7FAFF] animate-fade-in animate-delay-100"
        >
            <img
                class="w-52 sm:w-60 md:w-72"
                src={Liquidacion.src}
                alt="Liquidacion de impuestos mensuales y anuales"
            />
            <p class="font-bold text-center text-sm sm:text-base">
                Liquidacion de impuestos mensuales y anuales
            </p>
            <span
                class="text-[#0B5CA8] block max-w-[350px] text-center text-xs sm:text-sm"
                >Gestionamos tus obligaciones tributarias mensuales y anuales
                para asegurar precisión, cumplimiento y tranquilidad en cada
                declaración.</span
            >
        </div>
        <div
            class="service-card flex flex-col items-center gap-3 sm:gap-4 justify-center h-80 sm:h-[22rem] md:h-96
    bg-white rounded-2xl transition-all duration-300 p-4
    hover:scale-[1.03] hover:shadow-xl hover:bg-[#F7FAFF] animate-fade-in animate-delay-400"
        >
            <img
                class="w-52 sm:w-60 md:w-72"
                src={Libros.src}
                alt="Libros Electronicos (PLE-SIRE)"
            />
            <p class="font-bold text-center text-sm sm:text-base">
                Libros Electronicos (PLE-SIRE)
            </p>
            <span
                class="text-[#0B5CA8] block max-w-[350px] text-center text-xs sm:text-sm"
                >Administramos y cumplimos tus registros electrónicos en PLE y
                SIRE con exactitud y dentro de los plazos establecidos.</span
            >
        </div>
        <div
            class="service-card flex flex-col items-center gap-3 sm:gap-4 justify-center h-80 sm:h-[22rem] md:h-96
    bg-white rounded-2xl transition-all duration-300 p-4
    hover:scale-[1.03] hover:shadow-xl hover:bg-[#F7FAFF] animate-fade-in animate-delay-400"
        >
            <img class="w-52 sm:w-60 md:w-72" src={PDT.src} alt="PDT-PLAME" />
            <p class="font-bold text-center text-sm sm:text-base">PDT-PLAME</p>
            <span
                class="text-[#0B5CA8] block max-w-[350px] text-center text-xs sm:text-sm"
                >Realizamos la declaración y gestión de tu PLAME y PDT con
                precisión, garantizando el cumplimiento laboral y tributario de
                tu empresa.</span
            >
        </div>
        <div
            class="service-card flex flex-col items-center gap-3 sm:gap-4 justify-center h-80 sm:h-[22rem] md:h-96
    bg-white rounded-2xl transition-all duration-300 p-4
    hover:scale-[1.03] hover:shadow-xl hover:bg-[#F7FAFF] animate-fade-in animate-delay-400"
        >
            <img
                class="w-52 sm:w-60 md:w-72"
                src={Analisis.src}
                alt="Analisis y elaboracion de Estados Financieros"
            />
            <p class="font-bold text-center text-sm sm:text-base">
                Analisis y elaboracion de Estados Financieros
            </p>
            <span
                class="text-[#0B5CA8] block max-w-[350px] text-center text-xs sm:text-sm"
                >Preparamos y analizamos tus estados financieros para brindarte
                información clara, confiable y útil para la toma de decisiones.</span
            >
        </div>
        <div
            class="service-card flex flex-col items-center gap-3 sm:gap-4 justify-center h-80 sm:h-[22rem] md:h-96
    bg-white rounded-2xl transition-all duration-300 p-4
    hover:scale-[1.03] hover:shadow-xl hover:bg-[#F7FAFF] animate-fade-in animate-delay-700"
        >
            <img
                class="w-52 sm:w-60 md:w-72"
                src={Auditoria.src}
                alt="Servicios de Auditoria"
            />
            <p class="font-bold text-center text-sm sm:text-base">
                Servicios de Auditoria
            </p>
            <span
                class="text-[#0B5CA8] block max-w-[350px] text-center text-xs sm:text-sm"
                >Evaluamos y verificamos tus procesos y registros contables para
                garantizar transparencia, control y confianza en la gestión de
                tu empresa.</span
            >
        </div>
        <div
            class="service-card flex flex-col items-center gap-3 sm:gap-4 justify-center h-80 sm:h-[22rem] md:h-96
    bg-white rounded-2xl transition-all duration-300 p-4
    hover:scale-[1.03] hover:shadow-xl hover:bg-[#F7FAFF] animate-fade-in animate-delay-700"
        >
            <img
                class="w-52 sm:w-60 md:w-72"
                src={OTROS.src}
                alt="Entre otros tramites"
            />
            <p class="font-bold text-center text-sm sm:text-base">
                Entre otros tramites
            </p>
            <span
                class="text-[#0B5CA8] block max-w-[350px] text-center text-xs sm:text-sm"
                >Te asistimos en una amplia variedad de trámites adicionales
                para facilitar la gestión administrativa y contable de tu
                empresa.</span
            >
        </div>
    </section>
</div>
